
#  PYTHON / FASTAPI PROJECT


# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.venv/

# Environment variables
.env
.env.*

#db files
invoices.db

# Distribution / packaging
build/

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Docker / Render / Deployment
docker-compose.override.yml
*.env.docker
*.bak
*.tar
*.zip

# END OF FILE

